* {
    margin: 10;
    padding: 20;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background: #E7DCC3;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    position: relative;
    width: 80%;
    min-width: 1000px;
    min-height: 1000px;
    background: #E7DCC3;
    margin: 0px;
    display: grid;
    grid-template-columns: 1.2fr 3fr;
    box-shadow: 0 35px 55px rgba(0, 0, 0, 0.2);
}

.container .left {
    position: relative;
    background: #E7CEB2; /* Updated color */
    padding: 15px;
}

.container .right {
    position: relative;
    background: #FFF; /* Updated color to white */
    padding: 40px;
}

.profileText {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.profileText .profileImg {
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    border: 5px solid #E7CEB2;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.5)
}

.profileText .profileImg img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profileText h2 {
    color: #000; /* Change to black */
    font-size: 1.5em;
    margin-top: 20px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    line-height: 1.4em;
    padding: 50px;
}

.profileText h2 span {
    font-size: 0.7em;
    font-weight: 300;
}

.Info {
    padding: 40px;
}

.title {
    color: #000; /* Change to black */
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.4;
    margin-bottom: 20px;
}
.profileText .profile-word {
    background-color: #E7DCC3; /* Set the background color */
    padding: 10px; /* Add padding to the word */
}
.Info ul {
    position: relative;
}

.Info ul li {
    position: relative;
    list-style: none;
    margin: 10px 0;
    cursor: pointer;
}

.Info ul li .icon {
    display: inline-block;
    width: 30px;
    font-size: 20px;
    color: #0af6d7;
}

.Info ul li span {
    color: #000; /* Change to black */
    font-weight: 200;
}

.Info .education {
    margin-bottom: 15px;
}

.Info .education h5 {
    color: #000;
    font-weight: 500;
}
/* Add this to your style.css file */

.no-bullets {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.no-bullets li {
    margin-bottom: 10px; /* Add some margin between each list item if desired */
}
